.tify-export {
	@extend %panel;
	padding: ($grid / 2);
}

.tify-export_container {
	margin: (-$grid / 2) 0 $grid;
}

.tify-export_links {
	margin: 0 0 $grid;
	padding: 0 0 0 $grid;
}

.tify-export_toc {
	border: $border-width solid $border-color;
	border-radius: $br;
	margin: ($grid / 2) 0 0;
	padding: ($grid / 2);
}

.tify-export_toggle {
	@extend %button-small;
}
