.tify-export {
	@extend %panel;
	padding: g(.5);
}

.tify-export_container {
	margin: g(.5) 0 g();
}

.tify-export_toc {
	border: $border-width solid $border-color;
	border-radius: $br;
	margin: g(.5) 0 0;
	padding: g(.5);

	ul {
		margin: 0 0 0 g(.5);
		padding: 0;
	}
}

.tify-export_toggle {
	@extend %button-small;
}
