.tify-fulltext {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2);
}

.tify-fulltext_none {
	color: $text-color-light;
	font-style: italic;
}

.tify-fulltext_separator {
	background: $border-color;
	border: 0;
	height: $border-width;
	margin: $grid 0 ($grid - $border-width);
}

.tify-fulltext_text {
	word-break: break-word;

	p {
		margin: 0 0 1em;
	}
}
