.tify-info {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2);
}

.tify-info_content {
	position: relative;

	&.-collapsed {
		&::after {
			background: linear-gradient(rgba(#fff, 0), rgba(#fff, 1));
			bottom: 0;
			content: '';
			height: 40%;
			position: absolute;
			width: 100%;
		}
	}
}

.tify-info_logo {
	display: block;
	max-height: ($grid * 2.5);
	max-width: 100%;
	height: auto;
	width: auto;
}

.tify-info_metadata {
	> div {
		margin-bottom: ($grid / 2);
	}
}

.tify-info_section {
	margin-bottom: $grid;
	word-break: break-word;
}

.tify-info_toggle {
	@extend %button-small;
	margin: ($grid / 4) 0 0;
}
