.tify-info {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2);
}

.tify-info_logo {
	display: block;
	max-height: $grid * 2.5;
	max-width: 100%;
	height: auto;
	width: auto;
}

.tify-info_manifest {
	margin-top: 2em;
	text-align: right;
}

.tify-info_toggle {
	@extend %button;
	box-shadow: $card-shadow;
	border-radius: $br;
	font-size: $font-size-small;
	margin: ($grid / 4) 0 0;
	padding: ($grid / 8) ($grid / 4);
}

.tify-info_value {
	position: relative;
	word-break: break-word;

	&.-collapsed {
		&::after {
			background: linear-gradient(rgba(#fff, 0), rgba(#fff, 1));
			bottom: 0;
			content: '';
			height: 40%;
			position: absolute;
			width: 100%;
		}
	}
}
