.tify-scan {
	@extend %panel;
	background: $grey url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgwAGkcElgAgAEogAbFZcwKQAAAABJRU5ErkJggg==);
	flex: 3;
	user-select: none;
}

.tify-scan_buttons {
	border-radius: $br;
	display: flex;
	flex-direction: column;
	float: left;
	margin: g(.25);
	position: relative;
	z-index: 9;
}

.tify-scan_button {
	background: none;
	border: 0;
	border-radius: $br;
	color: #fff;
	cursor: pointer;
	height: g(1.5);
	outline: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 0 1px $shade-dark, 0 0 2px $shade-dark;
	width: g(1.5);

	@include hover {
		background: $shade;
		color: #fff;
	}

	&:active:not(:disabled) {
		box-shadow: 0 .5px 6px $shade inset;
	}

	&[disabled] {
		opacity: .3;
	}

	// Fixing button dimensions in Firefox
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&.-active {
		&::after {
			background: $brand-color;
			box-shadow: 0 0 g(.25) $brand-color-light;
			content: '';
			border-radius: 50%;
			display: block;
			height: .5em;
			position: absolute;
			right: g(.25);
			top: g(.25);
			width: .5em;
		}
	}
}

.tify-scan_filters {
	position: relative;
}

.tify-scan_filter-popup {
	@include dropdown(left, right);
	left: g(2);
	padding: g(.5);
	top: (g(-.75) - $br);
	width: g(10);

	> p {
		margin: 0;

		+ p {
			margin-top: g(.5);
		}
	}
}

.tify-scan_image {
	height: 100%;
	position: absolute;
	white-space: nowrap;
	width: 100%;

	.openseadragon-canvas {
		outline: 0;
	}
}

.tify-scan_page-button {
	@extend %button;
	background: rgba(#fff, .3);
	border: 0;
	box-shadow: $card-shadow;
	height: g(2.5);
	margin-top: g(-1.25);
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 50%;
	width: g(1.25);
	z-index: 9;

	// Move buttons to bottom depending on screen height so buttons in the
	// top-left corner are not overlapped
	@media (max-height: 479px) {
		top: 75%;
	}

	&.-previous {
		border-radius: 0 g(1.25) g(1.25) 0;
		left: 0;
		text-align: left;
	}

	&.-next {
		border-radius: g(1.25) 0 0 g(1.25);
		right: 0;
		text-align: right;
	}

	// Fixing button dimensions in Firefox
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
}

.tify-scan_range {
	@include range;
}

.tify-scan_reset {
	@extend %button;
	border-radius: $br;
	box-shadow: $card-shadow;
	width: 100%;
}
