.tify-scan {
	@extend %panel;
	background: $grey url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgwAGkcElgAgAEogAbFZcwKQAAAABJRU5ErkJggg==);
	flex: 3;
}

.tify-scan_buttons {
	border-radius: $br;
	display: flex;
	flex-direction: column;
	float: left;
	margin: ($grid / 8);
	position: relative;
	z-index: 9;
}

.tify-scan_button {
	background: none;
	border: 0;
	border-radius: $br;
	color: #fff;
	cursor: pointer;
	height: ($grid * 1.5);
	outline: 0;
	padding: 0;
	text-shadow: 0 0 1px $shade-dark, 0 0 2px $shade-dark;
	width: ($grid * 1.5);

	@include hover {
		background: $shade;
		color: #fff;
	}

	&:active:not(:disabled) {
		box-shadow: 0 .5px 6px $shade inset;
	}

	&[disabled] {
		opacity: .4;
	}

	// Fixing button dimensions in Firefox
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&.-active {
		color: $brand-color-light;
	}
}

.tify-scan_filters {
	position: relative;
}

.tify-scan_filter-popup {
	@include dropdown(left, right);
	left: ($grid * 2);
	padding: ($grid / 2);
	top: (-$grid);
	width: ($grid * 9);

	> p {
		margin: 0;

		+ p {
			margin-top: ($grid / 2);
		}
	}
}

.tify-scan_image {
	height: 100%;
	position: absolute;
	white-space: nowrap;
	width: 100%;
}

.tify-scan_range {
	@include range;
}

.tify-scan_reset {
	@extend %button;
	border-radius: $br;
	box-shadow: $card-shadow;
	width: 100%;
}
