.tify-thumbnails {
	@extend %panel;
	min-height: 100%;
	overflow-y: scroll;
	padding: ($grid / 8);
	position: relative;
	user-select: none;
}

.tify-thumbnails_item {
	@include transition(filter);
	background: $grey-dark;
	box-shadow: $drop-shadow;
	cursor: pointer;
	display: block;
	float: left;
	height: ($grid * 5.5);
	margin: ($grid / 8);
	overflow: hidden;
	position: relative;
	width: $thumbnail-width;

	@include hover {
		background: mix($grey-dark, $link-color);
		filter: brightness(1.2);
	}

	img {
		display: block;
		max-height: ($grid * 4.5);
		margin: auto;
		pointer-events: none;
		max-width: 100%;
	}

	&.-current {
		outline: ($grid / 4) solid $brand-color-light;
	}
}

.tify-thumbnails_page {
	@include transition(background);
	bottom: 0;
	color: white;
	display: block;
	font-size: $font-size-small;
	font-weight: bold;
	height: $grid;
	overflow: hidden;
	padding: 0 ($grid / 4);
	position: absolute;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: $shade-inset;
	white-space: nowrap;
	width: 100%;

	@at-root {
		.tify-thumbnails_item {

			&.-current {
				.tify-thumbnails_page {
					background: $link-color;
				}
			}
		}
	}
}
