%toc_row-item {
	@include transition(background);
	background: white;
	position: relative;
	z-index: 1;
}

.tify-toc {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2) ($grid / 2) ($grid / 2) $grid;
	position: relative;
	z-index: 0;
}

.tify-toc_chapter {
	@extend %toc_row-item;
	padding-right: .2em;
}

.tify-toc_header {
	margin: 0 0 ($grid / 2);
}

.tify-toc_link {
	@include transition(background);
	border-radius: $br;
	color: $link-color;
	cursor: pointer;
	display: block;
	overflow: hidden;
	position: relative;

	@include hover {
		background: $brand-color-lighter;

		> * {
			background: $brand-color-lighter;
		}
	}

	// Dotted line below
	&::after {
		bottom: 6px;
		content: '';
		left: .2em;
		min-width: 4em;
		border-bottom: 1px dotted;
		position: absolute;
		right: .2em;;
	}
}

.tify-toc_list {
	margin: 0;
	padding: 0;

	& & {
		// Vertical connector to the left
		margin: ($grid / 4) 0 0 ($grid * 1.25);
	}
}

.tify-toc_page-number {
	@extend %toc_row-item;
	float: right;
	padding-left: .2em;
	z-index: 1;
}

.tify-toc_structure {
	display: block;
	position: relative;

	&.-current {
		// Bold vertical marker
		box-shadow: (-$grid * .75 + 1px) 0 white, (-$grid) 0 $brand-color-light;
	}

	&.-expanded {
		// Vertical connector to the left
		&::after {
			border-left: 1px solid $brand-color-light;
			content: '';
			left: ($grid / 2);
			height: 100%;
			position: absolute;
			top: 0;
			z-index: -2;
		}
	}

	& + & {
		margin-top: ($grid / 4);
	}

	& & {
		// Horizontal connector
		&::before {
			border-top: 1px solid $brand-color-light;
			content: '';
			display: block;
			height: 100%;
			left: (-$grid * .75);
			position: absolute;
			top: ($grid / 2);
			width: ($grid / 2);
		}

		// Prevent vertical line from protruding at the bottom
		&:not(.-current):last-child::before {
			background: #fff;
		}
	}
}

.tify-toc_toggle-all {
	@extend %button;
	box-shadow: $card-shadow;
	border-radius: $br;
	padding: 0 ($grid / 4);
}

.tify-toc_toggle {
	@extend %button;
	border-radius: $br;
	box-shadow: $card-shadow;
	float: left;
	margin: 0 ($grid / 4) 0 0;
	padding: 0 ($grid / 4);
	padding: 0;

	// White overlay so vertical line does not touch button
	&::after {
		content: '';
		border-bottom: ($grid / 4) solid #fff;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: -1;
	}
}
