node_modules
src/components/icons

# Local-only files
.DS_Store
*.local
/*.sh

# Test output
tests/e2e/output
tests/e2e/screenshots
tests/e2e/videos
tests/unit/coverage

# Log files
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
