.tify-fulltext {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2);
}

.tify-fulltext_none {
	color: $text-color-light;
	font-style: italic;
}

.tify-fulltext_text {
	p {
		margin: 0 0 1em;
	}
}
