.tify-info {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2);
}

.tify-info_logo {
	display: block;
	max-height: $grid * 2.5;
	max-width: 100%;
	height: auto;
	width: auto;
}

.tify-info_toggle {
	@extend %button;
	box-shadow: $card-shadow;
	border-radius: $br;
	float: right;
	font-size: $font-size-small;
	padding: ($grid / 8) ($grid / 4);
}

// TODO
.tify-info_value {
	&.-limit-height {
		max-height: ($grid * 5);
		overflow: hidden;
	}
}
