.tify-scan {
	@extend %panel;
	background: $text-color-light;
	flex: 3;
}

.tify-scan_buttons {
	@extend %button-group;
	float: left;
	margin: ($grid / 4) 0 0 ($grid / 4);
	position: relative;
	z-index: 9;

	&.-vertical {
		clear: both;
	}
}

.tify-scan_button {
	@extend %button;
}

.tify-scan_image {
	height: 100%;
	position: absolute;
	white-space: nowrap;
	width: 100%;
}
