%toc_row-item {
	@include transition(background);
	background: white;
	position: relative;
	z-index: 1;
}

.tify-toc {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2) 0;
	position: relative;
	z-index: 0;
}

.tify-toc_chapter {
	@extend %toc_row-item;
	padding-right: .2em;
}

.tify-toc_item {
	display: block;
	padding: 0 ($grid / 2);

	&.-current {
		border-left: ($grid / 4) solid $brand-color-light;
		padding-left: ($grid / 2 - $grid / 4);
	}

	& + & {
		margin-top: ($grid / 2);
	}
}

.tify-toc_link {
	@include transition(background);
	box-shadow: none;
	border-radius: $br;
	color: $link-color;
	cursor: pointer;
	display: block;
	margin: 0 -.2em;
	overflow: hidden;
	padding: 0 .2em;
	position: relative;

	@include hover {
		background: $brand-color-lighter;

		> * {
			background: $brand-color-lighter;
		}
	}

	// Dotted line below
	&::after {
		bottom: 6px;
		content: '';
		left: .2em;
		min-width: 4em;
		border-bottom: 1px dotted;
		position: absolute;
		right: .2em;;
	}
}

.tify-toc_list {
	margin: 0;
	padding: 0;

	& & {
		margin-left: $grid;
	}
}

.tify-toc_page-number {
	@extend %toc_row-item;
	float: right;
	padding-left: .2em;
	z-index: 1;
}

.tify-toc_row {
	position: relative;
}
