.tify-app {
	background: $grey url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgwAGkcElgAgAEogAbFZcwKQAAAABJRU5ErkJggg==);
	bottom: 0;
	box-sizing: border-box;
	color: $text-color;
	display: flex;
	flex-direction: column;
	font-family: $font-family;
	font-size: $font-size;
	height: 100%;
	left: 0;
	line-height: g();
	min-height: 240px;
	min-width: 240px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	a {
		color: $link-color;
		word-wrap: break-word;
	}

	h3 {
		border-bottom: 1px solid $shade;
		font-size: 1.125em;
		font-weight: normal;
		padding: 0 0 (g(.25) - 1px);
		margin: 0 0 g(.75);
	}

	h4 {
		color: $text-color-light;
		font-size: 1em;
		font-weight: normal;
		margin: 0;

		&:nth-of-type(n+2) {
			margin-top: g(.5);
		}
	}

	label {
		cursor: pointer;
	}

	p {
		margin: 0 0 g(.5);
	}

	[type=text],
	select,
	textarea {
		@include transition(border);
		background: white;
		border: $border-width solid $shade;
		border-radius: $br;
		font: inherit;
		padding: (g(.25) - $border-width) .5em;

		&:focus {
			border-color: $brand-color;
			outline: 0;
		}
	}

	ul {
		margin: 0 0 g();
		padding: 0 0 0 g();
	}
}

.tify-app_error {
	background: rgba(#d22, .8);
	border-radius: 0 $br 0 0;
	bottom: 0;
	color: white;
	font-weight: bold;
	max-width: 90%;
	padding: g(.25);
	position: absolute;
}

.tify-app_error-close {
	background: 0;
	border: 0;
	color: white;
	cursor: pointer;
	float: left;
	margin: g(-.25) 0 g(-.25) g(-.25);
	padding: g(.25);

	@include hover {
		background: $shade-light;
	}
}

.tify-app_loading {
	animation: fadeIn .5s forwards .5s, spin 1.2s infinite ease-in-out;
	background: $brand-color-light;
	border-radius: $br;
	bottom: g(.5);
	height: g(1.5);
	left: g(.5);
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: g(1.5);

	&.-centered {
		height: g(2);
		left: 50%;
		margin: g(-1);
		top: 50%;
		width: g(2);
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes spin {
		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		}

		50% {
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		}

		100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}
}

.tify-app_main {
	display: flex;
	flex: 1;
	overflow: hidden;
	position: relative;
}
