.tify-app {
	bottom: 0;
	box-sizing: border-box;
	color: $text-color;
	display: flex;
	flex-direction: column;
	font: #{$font-size} / #{$grid} $font-family-text;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	a {
		color: $link-color;
		word-wrap: break-word;
	}

	code {
		box-shadow: $card-shadow;
		border-radius: $br;
		display: inline-block;
		min-width: 1.5em;
		padding: 0 .25em;
		text-align: center;
	}

	h3 {
		border-bottom: 1px solid $shade;
		font-size: 1.125em;
		font-weight: normal;
		padding: 0 0 ($grid * .25 - 1px);
		margin: 0 0 ($grid * .75);
	}

	h4 {
		color: $text-color-light;
		font-size: 1.125em;
		font-weight: bold;
		margin: 0 0 ($grid / 2);
	}

	input,
	select,
	textarea {
		@include transition(border);
		background: white;
		border: $border-width solid $shade;
		border-radius: $br;
		font: inherit;
		padding: ($grid / 4 - $border-width) .5em;

		&:focus {
			border-color: $brand-color;
			outline: 0;
		}
	}

	label {
		cursor: pointer;
	}

	table {
		border: 0;
		margin: (-$grid / 4) -.25em ($grid - $grid / 4);
	}

	td {
		padding: ($grid / 4) .25em;

		@include respond-to(large) {
			display: block;
			margin-top: (-$grid / 2);
		}

		@include respond-to(medium) {
			display: table-cell;
			margin-top: 0;
		}

		@include respond-to(tiny) {
			display: block;
			margin-top: (-$grid / 2);
		}
	}

	th {
		color: $text-color-light;
		padding: ($grid / 4) .25em;
		text-align: left;
		vertical-align: top;

		@include respond-to(large) {
			display: block;
		}

		@include respond-to(medium) {
			display: table-cell;
		}

		@include respond-to(tiny) {
			display: block;
		}
	}

	tr {
		border: 0;

		@include respond-to(large) {
			display: block;
		}

		@include respond-to(medium) {
			display: table-row;
		}

		@include respond-to(tiny) {
			display: block;
		}
	}
}

.tify-app_error {
	background: rgba(#d22, .8);
	border-radius: 0 $br 0 0;
	bottom: 0;
	color: white;
	font-weight: bold;
	max-width: 90%;
	padding: ($grid / 4);
	position: absolute;
}

.tify-app_error-close {
	background: 0;
	border: 0;
	color: white;
	cursor: pointer;
	float: left;
	margin: (-$grid / 4) 0 (-$grid / 4) (-$grid / 4);
	padding: ($grid / 4);

	@include hover {
		background: $shade-light;
	}
}

.tify-app_loading {
	animation: fadeIn .5s forwards .5s, spin 1.2s infinite ease-in-out;
	background: $brand-color-light;
	border-radius: $br;
	bottom: $grid / 2;
	height: ($grid * 1.5);
	left: $grid / 2;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: ($grid * 1.5);

	&.-centered {
		height: ($grid * 2);
		left: 50%;
		margin: -$grid;
		top: 50%;
		width: ($grid * 2);
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes spin {
		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		}

		50% {
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		}

		100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}
}

.tify-app_main {
	display: flex;
	flex: 1;
	overflow: hidden;
	position: relative;
}
