.tify-error {
	background: #d22c;
	border-radius: 0 $br 0 0;
	bottom: 0;
	color: #fff;
	display: flex;
	font-weight: bold;
	max-height: 50%;
	max-width: 90%;
	position: absolute;

	p {
		margin: 0;
	}
}

.tify-error-close {
	align-self: flex-start;
	background: 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: flex;
	padding: g(.25);

	@include hover {
		background: #0002;
	}
}

.tify-error-messages {
	overflow: auto;
	padding: g(.25) g(.5) g(.25) 0;
}
