.tify-export {
	@extend %panel;
	padding: g(.5);
}

.tify-export-container {
	margin: g(.5) 0 g();
}

.tify-export-toc {
	border: 1px solid $border-color;
	border-radius: $br;
	margin: g(.5) 0 0;
	padding: g(.25);

	ul {
		margin: 0 0 0 g(.5);
		padding: 0;
	}
}

.tify-export-toggle {
	@extend %button-small;
}
