.tify-fulltext {
	@extend %panel;
	overflow-y: auto;
	padding: g(.5);
}

.tify-fulltext-none {
	color: $text-color-muted;
	font-style: italic;
}

.tify-fulltext-separator {
	background: $border-color;
	border: 0;
	height: $border-width;
	margin: g() 0 (g() - $border-width);
}

.tify-fulltext-text {
	margin-left: 1em;
	text-indent: -1em;
	word-break: break-word;

	p {
		margin: 0 0 1em;
	}
}
