.tify-fulltext {
	@extend %panel;
	overflow-y: auto;
}

.tify-fulltext-link {
	border-radius: $br;
	display: block;
	padding: g(.25);
	text-decoration: none;
	word-break: break-word;

	@include hover {
		background: $base-color-lighter;

		// Element label and page number
		> span {
			background: $base-color-lighter;
		}
	}

	p {
		margin: 0 0 1em;
	}
}

.tify-fulltext-list {
	list-style: none;
	padding: 0 !important;

	li {
		margin: 0 g(-.5);
		padding: 0 g(.25);

		&.-current {
			box-shadow: g(-.25) 0 $base-color-light;
		}
	}
}

.tify-fulltext-none {
	color: $text-color-muted;
	font-style: italic;
}

.tify-fulltext-page {
	margin: 0 0 g() g(.25);
}
