.tify-header {
	@include separator(1, 0);
	background: $header-bg;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: g(.125);
}

.tify-header_column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 0;

	&:first-child {
		flex: 1;

		.tify-app.-small & {
			margin-bottom: g(-.25);
		}
	}

	&.-controls-toggle {
		display: none;

		.tify-app.-large & {
			display: block;
		}
	}

	&.-controls {
		.tify-app.-large & {
			@include dropdown(right);
			box-shadow: none;
			display: none;
			min-width: 10em;
			top: g(1.75);

			&.-visible {
				display: block;
			}
		}
	}
}

.tify-header_button-group {
	border-radius: $br;
	box-shadow: $card-shadow;
	display: flex;
	margin: g(.125);
	position: relative;

	&.-pagination {
		.tify-app.-small & {
			display: none;
		}
	}

	&.-popup {
		@include separator(1);
		border-radius: 0 0 $br $br;
		display: none;
		margin: $br (-$br) (-$br);
		overflow: hidden;

		.tify-app.-small & {
			display: flex;
		}
	}

	&.-view {
		.tify-app.-large & {
			box-shadow: none;
			display: block;
			margin: 0;
		}
	}
}

.tify-header_button {
	@extend %button;
	border-radius: 0;
	box-shadow: none;
	margin: 0; // Safari fix

	& + & {
		@include separator(0, 0, 0, 1);
		z-index: 0;
	}

	&:first-child {
		border-radius: $br 0 0 $br;
	}

	&:last-child {
		border-radius: 0 $br $br 0;
	}

	&:only-child {
		border-radius: $br;
	}

	&.-active {
		@extend %button-active;
	}

	&.-icon-only {
		font-size: 0; // Prevent label from showing

		.tify-app.-large & {
			font-size: inherit;
		}
	}

	&.-scan {
		display: none !important;

		.tify-app.-medium & {
			display: block !important;
		}

		+ .tify-header_button {
			border-radius: $br 0 0 $br;
			box-shadow: none;
		}
	}

	&.-warning {
		@extend %button-warning;
	}

	.tify-header_button-group.-popup & {
		+ .tify-header_button {
			@include separator(0, 0, 0, 1);
		}
	}

	.tify-header_button-group.-view & {
		.tify-app.-large & {
			background: white;
			border-radius: 0;
			display: block;
			text-align: left;
			width: 100%;

			&.-active {
				background: $brand-color;
				text-shadow: none;
			}

			&:not(.-active) {
				@include hover {
					background: $shade-light;
				}
			}
		}
	}

	.tify-header_button-group.-view > & {
		.tify-app.-large & {
			box-shadow: none;
		}
	}
}

.tify-header_title {
	font-size: 1.25em;
	font-weight: normal;
	line-height: g(1.25);
	margin: g(.25) g(.125);
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;

	.tify-app.-small & {
		font-size: 1em;
	}
}
