.tify-header {
	@include separator(1, 0);
	background: $header-bg;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: ($grid / 8);
}

.tify-header_column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 0;

	&:first-child {
		flex: 1;

		@include respond-to(small) {
			margin-bottom: (-$grid / 4);
		}
	}

	&.-pagination {
		@include respond-to(small) {
			order: 9;
			width: 100%;
		}
	}

	// IE 10 fix
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		max-width: 50%;
	}
}

.tify-header_button-group {
	@extend %button-group;
	margin: ($grid / 8);
	position: relative;

	&.-large {
		@include respond-to(large) {
			@include dropdown(right);
			box-shadow: none;
			display: none;
			min-width: 10em;
			top: ($grid * 1.75);

			&.-visible {
				display: block;
			}
		}
	}

	&.-small {
		display: none;

		@include respond-to(large) {
			display: block;
		}
	}
}

.tify-header_button {
	@extend %button;

	&.-active {
		@extend %button-active;
	}

	&.-scan {
		display: none !important;

		@include respond-to(medium) {
			display: block !important;
		}

		+ .tify-header_button {
			border-radius: $br 0 0 $br;
		}
	}

	&.-help {
		font-size: 0; // Prevent label from showing

		@include respond-to(large) {
			font-size: inherit;
		}
	}

	.tify-header_button-group.-large & {
		@include respond-to(large) {
			background: white;
			border-radius: 0;
			box-shadow: none;
			display: block;
			text-align: left;
			width: 100%;

			&.-active {
				background: $brand-color;
				text-shadow: none;
			}

			&:not(.-active) {
				@include hover {
					background: $shade-light;
				}
			}
		}
	}
}

.tify-header_title {
	font-size: 1.25rem;
	font-weight: normal;
	line-height: ($grid * 1.25);
	margin: ($grid / 4) ($grid / 8);
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;

	@include respond-to(small) {
		font-size: 1rem;
	}
}

.tify-header_toggle-controls {
	@extend %button;
	display: none;

	@include respond-to(large) {
		display: block;
	}
}
