.tify-icon {
	fill: currentcolor;
	flex: 0 0 24px;
	height: 24px;
	vertical-align: middle;

	&.-spin {
		animation: tify-icon-spin 1s linear infinite;
	}
}

@keyframes tify-icon-spin {
	100% {
		transform: rotate(360deg);
	}
}
