.tify-icon {
	fill: currentcolor;
	flex: 0 0 24px;
	height: 24px;
	vertical-align: middle;

	&.-spin {
		animation: rotate 1s linear infinite;
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg);
		}
	}
}
