$info-content-max-height: g(6.5);

.tify-info {
	@extend %panel;
	overflow-y: auto;
	padding: g(.5);
}

.tify-info-content {
	position: relative;

	&.-collapsed {
		max-height: $info-content-max-height;
	}
}

.tify-info-logo {
	display: block;
	max-height: g(2.5);
	max-width: 100%;
	height: auto;
	width: auto;
}

.tify-info-metadata {
	> div {
		margin-bottom: g(.5);
	}
}

.tify-info-section {
	margin-bottom: g();
	word-break: break-word;
}

.tify-info-toggle {
	@extend %button-small;
	margin: g(.5) 0;
	position: relative;
}

.tify-info-value {
	> div:last-child > :last-child {
		margin-bottom: 0;
	}

	.tify-info-content.-collapsed & {
		max-height: $info-content-max-height - g(2); // 2 = button height
		overflow: hidden;

		&::after {
			background: linear-gradient(rgba($white, 0), rgba($white, 1));
			bottom: g(2); // 2 = button height
			content: '';
			height: g(2);
			position: absolute;
			width: 100%;
		}
	}
}
