.tify-page-select {
	//
}

.tify-page-select-button {
	@extend %button;
	border-radius: inherit;
	box-shadow: none;
	display: block;
	margin: g(-.25);
	max-width: g(10);
	min-width: g(3);
	overflow: hidden;
	padding: g(.25) g(.5);
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;

	.tify.-medium & {
		max-width: g(8);
	}

	.tify.-small & {
		max-width: g(6);
	}

	.tify.-tiny & {
		max-width: g(4);
		padding: g(.25);
	}
}

.tify-page-select-dropdown {
	@include dropdown;
	margin-top: g(.5);
	max-width: 100%;

	.tify.-small & {
		left: 0;
	}
}

.tify-page-select-filter {
	padding: g(.25);
}

.tify-page-select-input {
	width: 100%;
}

.tify-page-select-list {
	list-style: none;
	margin: 0;
	max-height: g(11);
	min-width: 100%;
	overflow-y: scroll;
	padding: 0;
	position: relative;

	> li {
		border-top: $border-width solid $border-color;
		margin: 0;
		user-select: none;

		@include hover {
			background: $shade-light;
			color: $link-color;
		}

		&.-current {
			background: $shade-light;
			color: $text-color-light;
		}

		&.-highlighted {
			background: $link-color;
			color: $white;
		}
	}

	a {
		color: inherit;
		display: block;
		padding: g(.125) .5em;
		text-decoration: none;

		@include hover {
			color: inherit;
		}
	}
}
