.tify-page-select_button {
	@extend %button;
	border-radius: inherit;
	box-shadow: none;
	display: block;
	margin: (-$grid / 4);
	min-width: ($grid * 3);
	padding: ($grid / 4) ($grid / 2);
	position: relative;

	// Limit width on tiny screens to prevent buttons from breaking
	.tify-app.-tiny & {
		max-width: ($grid * 2);
		min-width: ($grid * 2);
		overflow: hidden;
		padding: ($grid / 4);
		white-space: nowrap;
	}
}

.tify-page-select_dropdown {
	@include dropdown;
	margin-top: ($grid / 2);

	.tify-app.-small & {
		left: 0;
	}
}

.tify-page-select_filter {
	background: white;
	padding: ($grid / 4);
}

.tify-page-select_input {
	width: 100%;
}

.tify-page-select_list {
	background: white;
	list-style: none;
	margin: 0;
	max-height: ($grid * 11);
	min-width: 100%;
	overflow-y: scroll;
	padding: 0;
	position: relative;

	> li {
		border-top: $border-width solid $border-color;
		padding: ($grid / 8) .5em;
		user-select: none;
		white-space: nowrap;

		@include hover {
			background: $shade-light;
			color: $link-color;
		}

		&.-current {
			background: $shade-light;
			color: $text-color-light;
			font-weight: bold;
		}

		&.-highlighted {
			background: $link-color;
			color: white;
		}
	}
}
