.tify-page-select_button {
	@extend %button;
	border-radius: inherit;
	box-shadow: none;
	display: block;
	margin: g(-.25);
	max-width: 30vw;
	min-width: g(3);
	overflow: hidden;
	padding: g(.25) g(.5);
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;

	// Limit width on tiny screens to prevent buttons from breaking
	.tify-app.-tiny & {
		max-width: g(2);
		min-width: g(2);
		overflow: hidden;
		padding: g(.25);
		white-space: nowrap;
	}
}

.tify-page-select_dropdown {
	@include dropdown;
	margin-top: g(.5);
	max-width: 100%;

	.tify-app.-small & {
		left: 0;
	}
}

.tify-page-select_filter {
	background: white;
	padding: g(.25);
}

.tify-page-select_input {
	width: 100%;
}

.tify-page-select_list {
	background: white;
	list-style: none;
	margin: 0;
	max-height: g(11);
	min-width: 100%;
	overflow-y: scroll;
	padding: 0;
	position: relative;

	> li {
		border-top: $border-width solid $border-color;
		margin: 0;
		padding: g(.125) .5em;
		user-select: none;

		@include hover {
			background: $shade-light;
			color: $link-color;
		}

		&.-current {
			background: $shade-light;
			color: $text-color-light;
		}

		&.-highlighted {
			background: $link-color;
			color: white;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}
