.tify-scan {
	@extend %panel;
	background: transparent;
	box-shadow: none;
	flex: 3;
	padding: 0;
	user-select: none;
	z-index: 0;
}

.tify-scan-buttons {
	backdrop-filter: $blur;
	background:
		linear-gradient($border-color 1px, transparent 1px) -1px -1px /
		auto calc(#{g(1.5)} + 1px); // separators
	border-radius: $br;
	box-shadow: 0 0 0 1px $border-color;
	display: flex;
	flex-direction: column;
	gap: 1px;
	left: g(.25);
	position: absolute;
	top: g(.25);
	z-index: 9;
}

.tify-scan-button {
	@extend %button;
	@extend %button-translucent;
	border-radius: 0;
	padding: g(.25);
	position: relative;

	&:first-child {
		border-radius: $br $br 0 0;
	}

	&:not(:disabled):active {
		box-shadow: $inset-shadow;
	}

	.tify-scan-filters & {
		border: 0;
		border-radius: 0 0 $br $br;
	}

	&.-active {
		// Dot marker
		&::after {
			background: $base-color;
			border-radius: 50%;
			box-shadow: 0 0 g(.25) $base-color-paler;
			content: '';
			display: block;
			height: .5em;
			position: absolute;
			right: g(.25);
			top: g(.25);
			width: .5em;
		}
	}
}

.tify-scan-filters {
	position: relative;
}

.tify-scan-filters-popup {
	@include dropdown(left, right);
	left: g(1.75);
	padding: g(.5);
	top: g(.75);
	width: g(10);

	label {
		// "100 %"
		> b {
			float: right;
			font-size: $font-size-small;
		}
	}

	> p {
		margin: 0;

		+ p {
			margin-top: g(.5);
		}
	}
}

// NOTE: OpenSeadragon adds `position: relative`
.tify-scan-image {
	height: 100%;
	overflow: hidden; // For OpenSeadragon plugins that add own elements
	white-space: nowrap;
	width: 100%;

	.openseadragon-canvas {
		outline: 0;
	}
}

// Big exception using an ID for styling because that
// is all we have here, thanks to OpenSeadragon
// TODO: Revisit after next OpenSeadragon release
[id^=overlay-wrapper-tify] {
	border-radius: $br;
	box-shadow: 0 0 0 1px $link-color, 0 0 0 1.5px #0009;
	cursor: pointer;

	@include hover {
		box-shadow: 0 0 0 2px $link-color, 0 0 0 2.5px #0009;
	}
}

.tify-scan-overlay {
	&.-current {
		border-radius: $br;
		mix-blend-mode: difference;
		outline: calc(g(.25) - 2px) solid #fff;
		outline-offset: 2px;
	}
}

.tify-scan-page-button {
	@extend %button;
	@extend %button-translucent;
	bottom: g();
	box-shadow: 0 0 0 1px $border-color;
	height: g(2.25);
	padding: 0;
	position: absolute;
	width: g(1);
	z-index: 1;

	// Prevent scan buttons from overlapping
	@container (height > 639px) {
		bottom: 50%;
	}

	&.-left {
		border-radius: 0 $br $br 0;
		left: 0;
	}

	&.-right {
		border-radius: $br 0 0 $br;
		right: 0;
	}
}

.tify-scan-range {
	@include range;
}

.tify-scan-reset {
	@extend %button;
	width: 100%;
}
