.tify-scan {
	@extend %panel;
	background: transparent;
	box-shadow: none;
	flex: 3;
	user-select: none;
}

.tify-scan-buttons {
	border-radius: $br;
	display: flex;
	flex-direction: column;
	float: left;
	margin: g(.25);
	position: absolute;
	z-index: 9;
}

.tify-scan-button {
	background: none;
	border: 0;
	border-radius: $br;
	color: $white;
	cursor: pointer;
	filter: drop-shadow(0 0 2px $shade-dark);
	height: g(1.5);
	outline: 0;
	padding: 0;
	position: relative;
	width: g(1.5);

	@include hover {
		background: $shade;
		color: $white;
	}

	&:active:not(:disabled) {
		box-shadow: 0 .5px 6px $shade inset;
	}

	&[disabled] {
		opacity: .3;
	}

	// Fixing button dimensions in Firefox
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&.-active {
		&::after {
			background: $brand-color;
			box-shadow: 0 0 g(.25) $brand-color-light;
			content: '';
			border-radius: 50%;
			display: block;
			height: .5em;
			position: absolute;
			right: g(.25);
			top: g(.25);
			width: .5em;
		}
	}
}

.tify-scan-filters {
	position: relative;
}

.tify-scan-filters-popup {
	@include dropdown(left, right);
	left: g(1.75);
	padding: g(.5);
	top: (g(-.75) - $br);
	width: g(10);

	label {
		// "100 %"
		> b {
			float: right;
			font-size: $font-size-small;
		}
	}

	> p {
		margin: 0;

		+ p {
			margin-top: g(.5);
		}
	}
}

// NOTE: OpenSeadragon adds `position: relative`
.tify-scan-image {
	height: 100%;
	white-space: nowrap;
	width: 100%;

	.openseadragon-canvas {
		outline: 0;
	}
}

.tify-scan-page-button {
	@extend %button;
	background: rgba($white, .3);
	border: 0;
	box-shadow: $card-shadow;
	height: g(2.5);
	margin-top: g(-1.25);
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 50%;
	width: g(1.25);
	z-index: 1;

	// Move buttons to bottom depending on screen height so buttons in the
	// top-left corner are not overlapped
	// TODO: Set this depending on container size
	@media (max-height: 479px) {
		top: 75%;
	}

	&.-previous {
		border-radius: 0 g(1.25) g(1.25) 0;
		left: 0;
		text-align: left;
	}

	&.-next {
		border-radius: g(1.25) 0 0 g(1.25);
		right: 0;
		text-align: right;
	}

	// Fixing button dimensions in Firefox
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
}

.tify-scan-range {
	@include range;
}

.tify-scan-reset {
	@extend %button;
	border-radius: $br;
	box-shadow: $card-shadow;
	width: 100%;
}
