.tify-thumbnails {
	@extend %panel;
	min-height: 100%;
	overflow-y: scroll; // NOTE: This is required for thumbnails to be calculated correctly
	position: relative;
	user-select: none;

	a {
		color: inherit;
		border: 0;
		box-shadow: 0 0 0 1px $border-color;
		text-decoration: none;
	}
}

.tify-thumbnails-list {
	margin: g(-.25);
}

.tify-thumbnails-item {
	background: $panel-bg-muted;
	border-radius: $br;
	cursor: pointer;
	float: left;
	margin: g(.25);
	position: relative;
	width: $thumbnail-width;

	@include hover {
		background: $panel-bg;
	}

	img {
		display: block;
		height: $thumbnail-height;
		margin: auto;
		object-fit: contain;
		pointer-events: none;
		max-width: 100%;
	}

	&.-current {
		outline: g(.5 * .33333) solid $base-color-pale;
		outline-offset: 0;
	}
}

.tify-thumbnails-page {
	border-top: 1px solid $border-color;
	bottom: 0;
	display: block;
	font-size: $font-size-small;
	height: g();
	overflow: hidden;
	padding: 0 g(.25);
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	@at-root {
		.tify-thumbnails-item {

			&.-current {
				.tify-thumbnails-page {
					background: $link-color;
					color: $text-color-inverted;
				}
			}
		}
	}
}
