.tify-thumbnails {
	@extend %panel;
	min-height: 100%;
	overflow-y: scroll; // NOTE: This is required for thumbnails to be calculated correctly
	position: relative;
	user-select: none;
}

.tify-thumbnails-button {
	@extend %button;
	color: inherit;
	display: block;
	overflow: hidden;
	padding: 0;
	text-decoration: none;
	width: calc($thumbnail-width + 2px);

	.tify-thumbnails-item.-current :is(&, &:active) {
		box-shadow: 0 0 0 g(.5 * .3333) $base-color-pale;
	}
}

.tify-thumbnails-image {
	align-items: center;
	background: $highlight-bg;
	display: flex;
	height: $thumbnail-height;
	justify-content: center;
	object-fit: contain;
	width: 100%;
}

.tify-thumbnails-item {
	display: block;
	float: left;
	line-height: g();
	margin: g(.25);

	.tify-page-name {
		font-size: $font-size-small;
		padding: 0 g(.25);
	}

	&.-current .tify-page-name {
		background: $link-color;
		color: $text-color-inverted;
	}
}

.tify-thumbnails-list {
	margin: g(-.25);
	padding: 0;
}
