.tify-thumbnails {
	@extend %panel;
	min-height: 100%;
	padding: g(.5);
	position: relative;
	user-select: none;
}

.tify-thumbnails-list {
	margin: g(-.25);
}

.tify-thumbnails-item {
	@include transition(filter);
	background: $grey-dark;
	box-shadow: $drop-shadow;
	cursor: pointer;
	float: left;
	height: g(5.5);
	margin: g(.25);
	overflow: hidden;
	position: relative;
	width: $thumbnail-width;

	@include hover {
		background: mix($grey-dark, $link-color);
		filter: brightness(1.2);
	}

	img {
		display: block;
		max-height: g(4.5);
		margin: auto;
		pointer-events: none;
		max-width: 100%;
	}

	&.-current {
		outline: g(.25) solid $brand-color-light;
	}
}

.tify-thumbnails-page {
	@include transition(background);
	bottom: 0;
	color: $white;
	display: block;
	font-size: $font-size-small;
	font-weight: bold;
	height: g();
	overflow: hidden;
	padding: 0 g(.25);
	position: absolute;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: $shade-inset;
	white-space: nowrap;
	width: 100%;

	@at-root {
		.tify-thumbnails-item {

			&.-current {
				.tify-thumbnails-page {
					background: $link-color;
				}
			}
		}
	}
}
