%button {
	align-items: center;
	background: $button-bg;
	border-radius: $br;
	border: 0;
	box-shadow: 0 0 0 1px $border-color inset;
	color: inherit;
	display: inline-flex;
	font: inherit;
	justify-content: center;
	padding: g(.25) g(.5);
	text-align: center;
	user-select: none;
	vertical-align: middle;

	&:not(:disabled) {
		cursor: pointer;

		@include hover {
			background: $button-hover-bg;
		}

		&:active {
			box-shadow: $inset-shadow, 0 0 0 1px $border-color inset;
		}

		&:focus-visible {
			z-index: 1;
		}
	}

	&[disabled] {
		opacity: .3;
	}
}

%button-translucent {
	backdrop-filter: $blur;
	background: oklch(from $panel-bg l c h / 40%);
	border: 0;
	box-shadow: none;

	&[disabled] {
		opacity: 1;

		> * {
			opacity: .3;
		}
	}

	> * {
		filter: drop-shadow(0 0 .5px $panel-bg);
	}
}

%button-active {
	background: $link-color;
	color: $text-color-inverted;
	z-index: 1;

	&:not(:disabled) {
		@include hover {
			background: $link-color;
			color: $text-color-inverted;
		}
	}
}

%button-small {
	@extend %button;
	font-size: $font-size-small;
	padding: 0 g(.5);
}
