%button-group {
	border-radius: $br;
	box-shadow: $card-shadow;
	display: flex;

	> * + * {
		@include separator(0, 0, 0, 1);
		z-index: 0;
	}

	> :first-child {
		border-radius: $br 0 0 $br;
	}

	> :last-child {
		border-radius: 0 $br $br 0;
	}

	> :only-child {
		border-radius: $br;
	}

	&.-vertical {
		flex-direction: column;

		> * + * {
			@include separator(1, 0, 0);
		}

		> :first-child {
			border-radius: $br $br 0 0;
		}

		> :last-child {
			border-radius: 0 0 $br $br;
		}

		> :only-child {
			border-radius: $br;
		}
	}
}
