// See https://iiif.io/api/presentation/3.0/#45-html-markup-in-property-values
// Styles for these elements might not be set by the parent website, so we set
// some basic styling to ensure consistency.

%iiif-html {
	a {
		// Nothing to do here
	}

	b {
		font-weight: bold;
	}

	i {
		font-style: italic;
	}

	img {
		display: block;
		margin: g(.5) 0;
	}

	small {
		font-size: smaller;
	}

	sub {
		font-size: smaller;
		vertical-align: sub;
	}

	sup {
		font-size: smaller;
		vertical-align: super;
	}
}
