%panel {
	background: $panel-bg;
	flex: 1;
	inset: 0;
	overflow-y: auto;
	padding: g(.5);
	position: absolute;

	@container (#{$medium}) {
		min-width: g(15);
		position: relative;

		.tify-media ~ & {
			border-left: 1px solid $border-color;
		}
	}
}
