%panel {
	background: $white;
	box-shadow: -1px 0 $border-color;
	flex: 1;
	inset: 0;
	overflow-y: auto;
	padding: g(.5);
	position: absolute;

	@container (#{$medium}) {
		min-width: g(15);
		position: relative;

		.tify-scan ~ & {
			border-left: 1px solid $border-color;
		}
	}

	&.-active {
		display: block;
	}

	&.-always-active {
		display: block !important;
	}
}
