%panel {
	background: $white;
	box-shadow: -1px 0 $border-color;
	flex: 1;
	min-width: g(15);
	overflow-y: auto;
	padding: g(.5);
	position: relative;

	.tify.-medium & {
		border: 0;
		bottom: 0;
		min-width: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	&:first-child {
		border: 0;
	}

	&.-active {
		display: block;
	}

	&.-always-active {
		display: block !important;
	}
}
