.tify-badge {
	background: $link-color;
	border-radius: $br;
	color: #fff;
	display: inline-block;
	font-size: .6875em;
	font-style: normal;
	font-weight: bold;
	line-height: 1;
	padding: g(.125);
	vertical-align: middle;
}
