@mixin dropdown($position: left, $alignment: bottom) {
	background: #fff;
	border: $br solid #fff;
	border-radius: $br;
	filter: drop-shadow($drop-shadow);
	margin: ($grid / 4) 0;
	min-width: 6em;
	overflow: visible;
	position: absolute;
	text-shadow: none;
	z-index: 9;

	// Target IE10 and 11, which are not supporting CSS filters
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		box-shadow: $drop-shadow;
	}

	@if ($position == left) {
		left: 0;
	} @else if ($position == right) {
		right: ($grid / 4);
	}

	// Wedge
	&::before {
		position: absolute;
		content: '';
		background: white;
		width: ($grid / 2);
		height: ($grid / 2);
		transform: rotate(45deg);
		z-index: -1;

		@if ($alignment == bottom) {
			top: (-$grid / 4);

			@if ($position == left) {
				left: $grid;
			} @else if ($position == right) {
				right: $grid;
			}
		} @else if ($alignment == right) {
			left: (-$grid / 4);
			top: $grid;
		}
	}
}
