@use 'sass:math';

@mixin dropdown($position: left, $alignment: bottom) {
	background: $white;
	border: $br solid $white;
	border-radius: $br;
	filter: drop-shadow($drop-shadow);
	min-width: 6em;
	overflow: visible;
	position: absolute;
	text-shadow: none;
	z-index: 9;

	@if ($alignment == bottom) {
		margin: g(.25) 0;
	} @else if ($alignment == right) {
		transform: translateY(-50%);
	}

	// Target IE 11, which is not supporting CSS filters
	_:-ms-lang(x), & {
		box-shadow: $drop-shadow;
	}

	@if ($position == left) {
		left: 0;
	} @else if ($position == right) {
		right: g(.25);
	}

	// Wedge
	&::before {
		position: absolute;
		content: '';
		background: $white;
		width: g(.5);
		height: g(.5);
		transform: rotate(45deg);
		z-index: -1;

		@if ($alignment == bottom) {
			top: g(-.25) - $br;

			@if ($position == left) {
				left: g();
			} @else if ($position == right) {
				right: g();
			}
		} @else if ($alignment == right) {
			left: g(-.25) - $br;
			top: calc(50% - #{g(.25)});
		}
	}
}
