@mixin input {
	background: none;
	border: 1px solid $border-color;
	border-radius: $br;
	color: inherit;
	font: inherit;
	line-height: inherit;
	padding: calc(g(.25) - 1px) g(.375);

	&:focus,
	&:hover {
		border-color: $link-color;
		outline: 0;
	}

	&:focus {
		box-shadow: 0 0 0 1px $base-color-pale;
	}
}
