// Based on Styling Cross-Browser Compatible Range Inputs with Sass v1.4.1
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// MIT License

// NOTE: Styles with different vendor prefixes must not be grouped

$track-color: $border-color;
$track-focus-color: $brand-color-light;

$thumb-color: linear-gradient(to bottom, tint($link-color, 20), $link-color);
$thumb-focus-color: linear-gradient(to bottom, $link-color, shade($link-color, 20));
$thumb-focus-shadow: 0 0 0 ($grid / 4) $highlight-color;

$thumb-radius: $br;
$thumb-height: $grid;
$thumb-width: ($grid / 2);

$track-height: ($grid / 4);

$track-radius: $br;

@mixin range_track {
	cursor: pointer;
	height: $track-height;
	transition: all .2s ease;
	width: 100%;
}

@mixin range_thumb {
	background: $thumb-color;
	border: 0;
	border-radius: $thumb-radius;
	box-shadow: $card-shadow;
	cursor: pointer;
	height: $thumb-height;
	width: $thumb-width;
}

@mixin range {
	-webkit-appearance: none;
	margin: ($grid / 4) 0 (-$grid / 4);
	width: 100%;

	&::-webkit-slider-runnable-track {
		@include range_track;
		background: $track-color;
		border-radius: $track-radius;
		box-shadow: $shade-inset;
		margin: 0;
	}

	&::-webkit-slider-thumb {
		@include range_thumb;
		-webkit-appearance: none;
		margin-top: ((-$border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
	}

	&::-moz-range-track {
		@include range_track;
		background: $track-color;
		border: 0;
		border-radius: $track-radius;
	}

	&::-moz-range-thumb {
		@include range_thumb;
	}

	&::-ms-track {
		@include range_track;
		background: transparent;
		border-color: transparent;
		border-width: ($thumb-height / 2) 0;
		color: transparent;
		margin: (-$grid / 4) 0;
	}

	&::-ms-fill-lower {
		background: $track-color;
		border-radius: $track-radius * 2;
	}

	&::-ms-fill-upper {
		background: $track-color;
		border-radius: $track-radius * 2;
	}

	&::-ms-thumb {
		@include range_thumb;
		margin-top: 0;
	}

	&:focus {
		outline: 0;

		&::-webkit-slider-runnable-track {
			background: $track-focus-color;
		}

		&::-webkit-slider-thumb {
			background: $thumb-focus-color;
			box-shadow: $thumb-focus-shadow;
		}

		&::-moz-range-track {
			background: $track-focus-color;
		}

		&::-moz-range-thumb {
			background: $thumb-focus-color;
			box-shadow: $thumb-focus-shadow;
		}

		&::-ms-fill-lower {
			background: $track-focus-color;
		}

		&::-ms-fill-upper {
			background: $track-focus-color;
		}

		&::-ms-thumb {
			background: $thumb-focus-color;
			box-shadow: $thumb-focus-shadow;
		}
	}
}
