.tify {
	background: $main-bg;
	box-sizing: border-box;
	color: $text-color;
	color-scheme: light dark;
	container-type: size;
	display: flex;
	flex-direction: column;
	font-size: $font-size;
	height: 100%;
	line-height: $line-height;
	min-height: 240px;
	min-width: 240px;
	overflow: hidden;
	position: relative;
	-webkit-tap-highlight-color: transparent;

	&.-light {
		color-scheme: light;
	}

	&.-dark {
		color-scheme: dark;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	// For communicating container size to JS
	&::after {
		display: none;

		@container (#{$medium}) {
			content: 'isWide';
		}
	}

	a {
		color: $link-color;
		word-wrap: break-word;

		@include hover {
			color: $link-hover-color;
		}
	}

	h3 {
		box-shadow: 0 1px $border-color;
		font-size: $font-size-small;
		font-weight: bold;
		letter-spacing: .1em;
		margin: 0 0 g(.5);
		color: $text-color-muted;
		padding: 0;
		text-transform: uppercase;
	}

	h4 {
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		color: $text-color-muted;
		padding: 0;

		&:nth-of-type(n+2) {
			margin-top: g(.5);
		}
	}

	label {
		cursor: pointer;
		font-size: inherit;
		font-weight: normal;
	}

	p {
		margin: 0 0 g(.5);
		padding: 0;
	}

	[type=text] {
		background: none;
		border: 1px solid $border-color;
		border-radius: $br;
		color: inherit;
		font: inherit;
		padding: calc(#{g(.25)} - 1px) .5em;

		&:focus {
			border-color: $base-color;
			outline: 0;
		}
	}
}
