// Dimensions
$border-width: 1px !default;
$br: 2px !default;
$grid: 24px !default;
$thumbnail-width: g(4) !default;

// Typography
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif !default;
$font-size: 16px !default;
$font-size-small: 14px !default;
$line-height: g() !default;

// Brand colors
$brand-color: #06b !default;
$brand-color-light: tint($brand-color, 46) !default;
$brand-color-lighter: tint($brand-color, 92) !default;

// Shades
$grey: #666 !default;
$grey-dark: #333 !default;
$grey-light: #ccc !default;
$shade: rgba(black, .24) !default;
$shade-dark: rgba(black, .6) !default;
$shade-light: rgba(black, .08) !default;
$shine: rgba(white, .9) !default;
$shine-light: rgba(white, .6) !default;
$white: #fff;

// Semantic colors
$border-color: $shade !default;
$highlight-color: rgba(lighten($brand-color, 50), .3) !default;
$link-color: $brand-color !default;
$text-color: $grey-dark !default;
$text-color-light: tint($text-color, 30) !default;
$warning-color: adjust-hue($brand-color, 180) !default;

// Combined values
$card-shadow: 0 0 .5px $shade-light, 0 .5px 3px $shade !default;
$drop-shadow: 0 0 g(.25) rgba(black, .5) !default;
$header-bg: #e7e7e7 !default;
$shade-inset: 0 -1px $shade !default;
$shine-inset: 0 1px $shine !default;
